#gallery {
  padding: 80px 0 100px;
  background-image: url('../images/Colored\ Patterns.svg');
  background-position: center;
}

#gallery h2 {
  text-align: center;
  margin-block: 30px;
  color: #70540d;
}

#gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

#gallery .gallery-grid video {
  width: 80%;
  height: 300px;
  border-radius: 5px;
  border: 5px solid goldenrod;
  margin-inline: auto;
}