

#hero {
  background-color: rgb(246, 244, 239);
  position: relative;
  background-image: url('../images/Colored\ Patterns.svg');
  background-size: cover;
  padding-top: 120px;
}

#hero .container {
  min-height: unset;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hero-text-content {
  position: relative;
}

#hero-text-content h3 {
  font-size: 5rem;
  position: absolute;
  color: #70540d;
  line-height: 1;
  letter-spacing: -10px;
  text-align: center;
  width: 100%;
  margin-inline: auto;
}

.golden-2 {
  margin-top: 160px;
}

.golden-3 {
  margin-top: 320px;
}

#hero-image {
 position: relative;
 width: 80%;
 margin-top: 50%;
}

#bg-wave {
width: 100%;
position: absolute;
bottom: 0;
}

#wish-gift {
  background-color: goldenrod;
  /* background-image: url('../images/Animated\ Shape\ \(2\).svg');
  background-position: center;
  background-repeat: no-repeat; */
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}


#wish-gift h2 {
  font-size: 2rem;
  color: rgb(246, 244, 239);
  margin-bottom: 10px;
  letter-spacing: -2px;
}

#wishes-section {
  background-color: rgb(246, 244, 239);
  color: #70540d;
  border-radius: 10px;
  padding-top: 30px;

}

#wishes-section h2 {
  color: #70540d
}

#wishes-card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 80%;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.308);
}

#guestbook-card {
  background-color: rgba(246, 244, 239, 0.596);
  padding: 30px;
  border-radius: 10px;
}

#guestbook-card h3 {
  margin-bottom: 20px;
  color: #70540d;
}

input,textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(14, 14, 111);
  color: rgb(246, 244, 239);
  border-radius: 10px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px
}

#gifting-deets {
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color: #70540d;
}

#bg-wave-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#about {
  background-color: rgb(246, 244, 239);
  text-align: center;
  padding-bottom: 100px;
}

#about .container {
  min-height: unset;
}
#about h2 {
  text-align: center;
  font-size: 3rem;
  color: #70540d;
  letter-spacing: -5px;
  line-height: 1;
}

#about p {
  margin-block: 20px 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #70540d;
}

#about img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#deet-one-image {
  width: 300px;
  height: 300px;
  border: 10px solid goldenrod;
  border-radius: 10px;
  margin-inline: auto;
}




/* Add this to your existing CSS */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

#courtesy {
  background-color: #70540d;
  color: rgb(246, 244, 239);
  text-align: center;
}

#courtesy .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: unset;
  padding-block: 100px;
}

#courtesy #lcda-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
/* 
#lcda-logo img {
  width: 30%;
  max-width: 200px;
} */

#eti-osa {
  width: 100px;
}

#lagos-gov {
  width: 120px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (min-width: 800px) {
  #hero {
    padding-top: unset;
  }
  #hero .container {
    flex-direction:row;
    justify-content: space-between;
    align-items: top;
    min-height: 100vh;
  }

  #hero-text-content h3 {
    font-size: 11rem;
    margin-top: 150px;
  }

  #hero img {
    margin-top: unset;
    width: 100%;
  }

  #wishes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #wish-gift h2 {
    font-size: 3rem;
  }

  #well-wishes {
    width: 50%;
  }

  #guestbook-card {
    width: 50%;
  }

  #about {
    padding-bottom: 100px;
  }
  #about p {
    width: 70%;
    margin-inline: auto;
  }


  #courtesy h3 {
    width: 60%;
    line-height: 1.5;
  }
}
